@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.dio {
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
}

.consulte {

  color: #ff0000;

}

.propos {
  background-color: #000;
  color: white;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propos .content_home {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propos .content_home .home_left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.propos .content_home .home_left span {
  color: white;
  margin-bottom: 10px;
}

.propos .content_home .home_left p {
  margin-top: 15px;
  font-size: 15px;
}

.propos .content_home .home_left .content_music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 100px;
}

.propos .content_home .home_left .content_music .content_play {
  color: white;
  font-size: 20px;
  width: 5%;
}

.propos .content_home .home_left .content_music .content_play .fa-solid {
  font-size: 40px;
}

.propos .content_home .home_left .content_music .song_dowload i:nth-child(1) {
  margin-right: 5px;
}

.propos .content_home .home_left .content_music .content_range {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.propos .content_home .home_left .content_music .content_range span {
  font-size: 10px;
}

.propos .content_home .home_left .content_music .content_range input {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: aquamarine;
  overflow: hidden;
}

.propos .content_home .home_left .ourApp {
  margin-top: 20px;
  width: 78%;
  height: 130px;
}

.propos .content_home .home_left .ourApp .app {
  height: 130px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.propos .content_home .home_left .ourApp .app .card_app {
  box-shadow: 2px 5px 12px 9px rgba(97, 94, 94, 0.19);
  -webkit-box-shadow: 2px 5px 12px 9px rgba(122, 118, 118, 0.19);
  -moz-box-shadow: 2px 5px 12px 9px rgba(134, 132, 132, 0.19);
  height: 130px;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.propos .content_home .home_left .ourApp .app .card_app .img {
  height: 60px;
  width: 80px;
}

.propos .content_home .home_left .ourApp .app .card_app .img img {
  width: 100%;
  height: 100%;
}

.propos .content_home .home_left .ourApp .app .card_app .text {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 40px;
  width: 100%;
}

.propos .content_home .home_left .ourApp .app .card_app .text span {
  font-size: 8px;
}

.propos .content_home .home_left .ourApp .app .card_app .text h1 {
  font-size: 20px;
}

.propos .content_home .home_right {
  background-color: red;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propos .content_home .home_right .img {
  height: 90%;
  width: 90%;
}

.propos .content_home .home_right .img img {
  width: 100%;
  height: 100%;
}

.copy {
  width: 100%;
  height: 50px;
  background-color: #000;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10%;
  height: 100vh;
  width: 100%;
}

.home .home_text {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.home .home_text h1 {
  color: white;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
}

.home .home_text .button {
  margin-top: 15px;
  margin-left: 400px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.home .home_text .button button {
  border: none;
  margin-left: 10px;
  background: white;
  outline: none;
  padding: 15px 34px;
  border: 1px solid black;
  border-radius: 50px;
}

.home .home_text .button button:nth-child(1) {
  color: white;
  background: black;
  transition: all 0.3s ease-in-out;
}

.home .home_text .button button:nth-child(1):hover {
  background: none;
  color: black;
}

.home .home_text .button button:nth-child(2) {
  color: black;
}

.home .home_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.home .home_img div {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home_img div .home_img {
  height: 70%;
  width: 70%;
}

@media (max-width: 700px) {
  .home .home_img {
    height: 0px;
    display: none;
  }

  .home .home_img div {
    display: none;
  }

  .home .home_img div .home_img {
    display: none;
  }
}

@media (max-width: 665px) {
  .home .home_text h1 {
    width: 400px;
    font-size: 40px;
  }

  .home .home_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }

  .home .home_img .home_img {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .home .home_text h1 {
    width: 400px;
    font-size: 25px;
  }

  .home .home_text .button button {
    padding: 5px 15px;
    border-radius: 10px;
  }

  .home .home_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }

  .home .home_img .home_img {
    height: 100px;
    width: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

header {
  padding: 0% 5%;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(28, 25, 25);
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .burgeur {
  display: none;
  color: white;
}

header h1 {
  font-family: "Aboreto", cursive;
  display: block;
  padding: 20px;
}

header h1 .logo {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
  font-weight: bolder;
  font-size: 25px;
  color: rgb(251, 251, 251);
}

header .navbar {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

header .navbar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar .wrapper .button {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

header .navbar .wrapper .button:hover {
  width: 140px;
}

header .navbar .wrapper .button .icon {
  color: black;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

header .navbar .wrapper .button:nth-child(1):hover .icon {
  background: #4267B2;
}

header .navbar .wrapper .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

header .navbar .wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

header .navbar .wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

header .navbar .wrapper .wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

header .navbar .wrapper .button .icon i {
  font-size: 15px;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

header .navbar .wrapper .button:hover .icon i {
  color: rgb(156, 229, 234);
}

header .navbar .wrapper .button span {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

header .navbar .wrapper .button:nth-child(1) span {
  color: #4267B2;
}

header .navbar .wrapper .button:nth-child(2) span {
  color: #1DA1F2;
}

header .navbar .wrapper .button:nth-child(3) span {
  color: #E1306C;
}

header .navbar .wrapper .button:nth-child(4) span {
  color: #333;
}

header .navbar .wrapper .button:nth-child(5) span {
  color: #ff0000;
}

header .navbar ul {
  width: 700px;
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
  transition: all 0.2s ease-in-out;
}

header .navbar ul li:hover>ul {
  display: initial;
}

header .navbar ul li:focus-within>ul {
  display: initial;
}

header .navbar ul li a {
  font-size: 15px;
  padding: 30px;
  color: #eee;
  display: block;
  transition: all 0.1s ease-in-out;
}

header .navbar ul li a:hover {
  background: #333;
  color: gray;
}

header .navbar ul li ul {
  position: absolute;
  width: 200px;
  background: #fff;
  left: 0;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid gray;
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0px;
}

header .navbar .language {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 0px;
  width: 20px;
}

header #menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 1360px) {
  header {
    padding: 0;
    transition: all 0.3s ease-in-out;
  }

  header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(28, 25, 25);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar .language {
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
  }

  header .navbar ul li ul li {
    background: #eee;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0px;
  }

  header .navbar .wrapper {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3%;
    width: 100%;
  }

  header .navbar .wrapper .button {
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    margin: 8px 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }

  header .navbar .wrapper .button:hover {
    width: 140px;
  }

  header .navbar .wrapper .button .icon {
    color: black;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }

  header .navbar .wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
  }

  header .navbar .wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
  }

  header .navbar .wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
  }

  header .navbar .wrapper .button:nth-child(4):hover .icon {
    background: #333;
  }

  header .navbar .wrapper .wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
  }

  header .navbar .wrapper .button .icon i {
    font-size: 15px;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }

  header .navbar .wrapper .button:hover .icon i {
    color: rgb(255, 255, 255);
  }

  header .navbar .wrapper .button span {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }

  header .navbar .wrapper .button:nth-child(1) span {
    color: #4267B2;
  }

  header .navbar .wrapper .button:nth-child(2) span {
    color: #1DA1F2;
  }

  header .navbar .wrapper .button:nth-child(3) span {
    color: #E1306C;
  }

  header .navbar .wrapper .button:nth-child(4) span {
    color: #333;
  }

  header .navbar .wrapper .button:nth-child(5) span {
    color: #ff0000;
  }

  header label {
    display: initial;
  }

  header nav.ShowNavigation {
    display: initial;
    transition: all 0.3s ease-in-out;
  }

  header .burgeur {
    display: initial;
    position: absolute;
    right: 0;
    padding-right: 14%;
  }

  header .burgeur i {
    position: absolute;
    left: 0;
    height: 100%;
  }

  header .burgeur .OpenMenu.show {
    display: block;
  }

  header .burgeur .OpenMenu.hide {
    display: none;
  }

  header .burgeur .CancelMenu.show {
    display: block;
  }

  header .burgeur .CancelMenu.hide {
    display: none;
  }
}

.a_propos {
  margin-top: 40px;
  width: 100%;
  height: 500px;
}

.a_propos h1 {
  text-align: center;
  font-size: 25px;
  color: #000;
}

.a_propos .contain_propos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_propos .contain_left {
  width: 50%;
  height: 100%;
}

.a_propos .contain_right {
  width: 50%;
  height: 100%;
}

.contact {
  width: 100%;
  height: min-content;
  max-height: 1200px;
  padding-bottom: 20px;
}

.contact-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 3px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  width: 100%;
  max-width: 400px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 4px;
  background: black;
  border: 1px solid rgb(37, 37, 37);
  outline: none;
}

.form-control-only {
  margin-bottom: 10px;
}

.send-button {
  margin-top: 15px;
  height: 24px;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background: #dd5d0d;
  border: none;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button:hover {
  background: #a1470f;
}

.alt-send-button {
  text-align: center;
  margin: 0 auto;
  width: max-content;
  height: 24px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-text {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  padding: 0 10%;
}

.list-item {
  line-height: 4;
  color: rgb(39, 37, 37);
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: rgb(26, 25, 25);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: rgb(26, 25, 25);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px 3px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  z-index: -5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  margin-top: 10px;
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  padding-right: 100px;
  width: 100%;
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .copyright {
    color: white;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-group {
    width: 100%;
  }

  .group-form-control {
    width: 100%;
  }

  .form-control,
  textarea {
    width: 100%;
    margin: 0 auto;
  }

  .form-control-only {
    margin-bottom: 10px;
    width: 100%;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
    font-size: 12px;
  }

  .social-media-list li {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 12px;
  }

  .list-item {
    font-size: 10px;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

.form-group {
  max-width: 400px;
}

.form-group .group-form-control {
  max-width: 400px;
}

.form-group .group-form-control .form-control {
  max-width: 400px;
  width: 400px;
}

@media screen and (max-width: 569px) {
  .form-group {
    max-width: 400px;
  }

  .form-group .group-form-control {
    max-width: 400px;
  }

  .form-group .group-form-control .form-control {
    max-width: 400px;
    width: 100%;
  }
}

/*# sourceMappingURL=home.css.map */