@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    padding: 0% 5%;
    width: 100vw;

    .burgeur {
        display: none;
        color: white;
    }

    // height:80px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background: rgb(28, 25, 25);

    box-shadow: 0 5px rgba(0, 0, 0, .1);
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;

    h1 {
        font-family: 'Aboreto', cursive;

        display: block;
        padding: 20px;
        // background: rgb(218, 20, 20);

        span {}

        .logo {

            -moz-user-select: none;
            /* Firefox */
            -webkit-user-select: none;
            /* Chrome, Safari, Opéra depuis la version 15 */
            -ms-user-select: none;
            /* Internet explorer depuis la version 10 et Edge */
            user-select: none;
            /* Propriété standard */


            font-weight: bolder;
            font-size: 25px;
            color: rgb(251, 251, 251);

        }

    }



    .navbar {
        width: 75%;
        display: flex;
        justify-content: space-around;


        .wrapper {
            // margin: 0 auto;
            // margin-left: 200px;
            display: flex;
            justify-content: center;
            align-items: center;


            .button {
                // color: black;
                display: inline-block;
                height: 30px;
                width: 30px;
                float: left;
                margin: 0 5px;
                overflow: hidden;
                background: #fff;
                border-radius: 50px;
                cursor: pointer;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease-out;
            }

            .button:hover {
                width: 140px;
            }

            .button .icon {
                color: black;
                display: inline-block;
                height: 30px;
                width: 30px;
                text-align: center;
                border-radius: 50px;
                box-sizing: border-box;
                line-height: 30px;
                transition: all 0.3s ease-out;
            }

            .button:nth-child(1):hover .icon {
                background: #4267B2;
            }

            .button:nth-child(2):hover .icon {
                background: #1DA1F2;
            }

            .button:nth-child(3):hover .icon {
                background: #E1306C;
            }

            .button:nth-child(4):hover .icon {
                background: #333;
            }

            .wrapper .button:nth-child(5):hover .icon {
                background: #ff0000;
            }

            .button .icon i {
                font-size: 15px;
                //   margin-bottom: 60px;
                line-height: 30px;
                transition: all 0.3s ease-out;
            }

            .button:hover .icon i {
                color: rgb(156, 229, 234);
            }

            .button span {
                font-size: 15px;
                font-weight: 500;
                line-height: 30px;
                margin-left: 10px;
                transition: all 0.3s ease-out;
            }

            .button:nth-child(1) span {
                color: #4267B2;
            }

            .button:nth-child(2) span {
                color: #1DA1F2;
            }

            .button:nth-child(3) span {
                color: #E1306C;
            }

            .button:nth-child(4) span {
                color: #333;
            }

            .button:nth-child(5) span {
                color: #ff0000;
            }




        }


        ul {
            width: 700px;
            list-style: none;

            li {
                position: relative;
                float: left;
                transition: all .2s ease-in-out;

                &:hover {
                    >ul {

                        display: initial;

                    }
                }

                &:focus-within {
                    >ul {
                        display: initial;
                    }
                }

                a {

                    font-size: 15px;
                    padding: 30px;
                    color: #eee;
                    display: block;
                    transition: all .1s ease-in-out;

                    &:hover {
                        background: #333;
                        color: gray;

                    }
                }

                ul {

                    position: absolute;
                    width: 200px;
                    background: #fff;
                    left: 0;
                    display: none;

                    li {
                        width: 100%;
                        border-top: 1px solid gray;

                        ul {
                            left: 200px;
                            top: 0px;
                        }
                    }

                }


            }

        }

        .language {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: right;


            padding: 0px;
            width: 20px;

            // background: red;}
            span {}
        }


    }


    #menu-bar {

        display: none;


    }

    label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
        display: none;

    }

}





@media(max-width:1360px) {

    header {
        padding: 0;
        // padding: 20px;

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: rgb(28, 25, 25);
            border-top: 1px solid rgba(0, 0, 0, .1);
            display: none;

            .language {
                display: none;
            }

            ul {

                li {

                    width: 100%;

                    ul {
                        position: relative;

                        li {
                            background: #eee;

                            ul {

                                width: 100%;

                                left: 0px;


                            }

                        }

                    }

                }

            }




            .wrapper {
                // margin: 0 auto;
                // margin-left: 200px;
                flex: 0 1 auto;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding-left: 3%;
                width: 100%;

                .button {
                    // color: black;
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    float: left;
                    margin: 8px 5px;
                    overflow: hidden;
                    background: #fff;
                    border-radius: 50px;
                    cursor: pointer;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease-out;
                }

                .button:hover {
                    width: 140px;
                }

                .button .icon {
                    color: black;
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    border-radius: 50px;
                    box-sizing: border-box;
                    line-height: 30px;
                    transition: all 0.3s ease-out;
                }

                .button:nth-child(1):hover .icon {
                    background: #4267B2;
                }

                .button:nth-child(2):hover .icon {
                    background: #1DA1F2;
                }

                .button:nth-child(3):hover .icon {
                    background: #E1306C;
                }

                .button:nth-child(4):hover .icon {
                    background: #333;
                }

                .wrapper .button:nth-child(5):hover .icon {
                    background: #ff0000;
                }

                .button .icon i {
                    font-size: 15px;
                    //   margin-bottom: 60px;
                    line-height: 30px;
                    transition: all 0.3s ease-out;
                }

                .button:hover .icon i {
                    color: rgb(255, 255, 255);
                }

                .button span {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 30px;
                    margin-left: 10px;
                    transition: all 0.3s ease-out;
                }

                .button:nth-child(1) span {
                    color: #4267B2;
                }

                .button:nth-child(2) span {
                    color: #1DA1F2;
                }

                .button:nth-child(3) span {
                    color: #E1306C;
                }

                .button:nth-child(4) span {
                    color: #333;
                }

                .button:nth-child(5) span {
                    color: #ff0000;
                }




            }




        }


        label {
            display: initial;

        }

        transition:all .3s ease-in-out;

        nav.ShowNavigation {

            display: initial;
            transition: all .3s ease-in-out;



        }

        .burgeur {

            display: initial;
            position: absolute;
            right: 0;
            padding-right: 14%;

            i {
                position: absolute;
                left: 0;
                height: 100%
            }

            .OpenMenu.show {
                display: block;
            }

            .OpenMenu.hide {
                display: none
            }


            .CancelMenu.show {
                display: block;
            }

            .CancelMenu.hide {
                display: none
            }

        }


    }


}